/* styles.css */

/* General body styling */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #101010; /* Dark background */
    color: #e9e9e9; /* Light text color for readability */
}

/* Sidebar styling */
#sidebar {
    background-color: #161616; /* Dark sidebar */
    color: #e9e9e9; /* Light text */
    width: 17vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c; /* Darker shadow */
    min-width: 200px;
}

#logo {
    margin: 10px 0px;
    width: 70%;
    align-self: center;
    filter: drop-shadow(8px 8px 16px #060606);
}

label {
    margin: 10px 0px;
    z-index: 1;
    color: #e9e9e9;
}

.link {
    color: #01d4fe; /* Light blue link color */
    transition: all 0.24s ease;
}

.link:hover {
    color: #fdb40b; /* Hover effect for links */
}

/* Map and grid styling */
#dynmap {
    position: relative; /* Allows absolute positioning for child elements */
    width: 100%; /* Full width of the container */
    height: auto; /* Adjust height automatically */
}


#dynmap-img {
    display: block; /* Ensures no gaps below the image */
    user-select: none;
}

#grid {
    position: absolute; /* Position grid absolutely within dynmap */
    top: 0;
    left: 0;
    width: 100%; /* Full width of dynmap */
    height: 100%; /* Full height of dynmap */
    pointer-events: none; /* Allow clicks to pass through to the dynmap image */
}

/* Plot styling */
.plot {
    position: absolute;
    border: 2px solid #ffffff; /* Light border for plots */
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.12s ease-in-out;
    font-size: 10px;
    opacity: 0.85;
    text-shadow: 1px 2px 2px black;
}

.plot:hover {
    opacity: 1.0;
    font-size: 11px !important;
    font-weight: 500;
    text-shadow: 2px 2px 3px black;
}

.plot:active {
    font-size: 10.5px !important;
    scale: 0.96;
}

.plot-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ffffff; /* Light border for plots */
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.12s ease-in-out;
    font-size: 10px;
    opacity: 0.85;
    text-shadow: 1px 2px 2px black;
}

.plot-circle:hover {
    opacity: 1.0;
    font-size: 11px !important;
    font-weight: 500;
    text-shadow: 2px 2px 3px black;
}

.plot-circle:active {
    font-size: 10.5px !important;
    scale: 0.96;
}

.plot-dot {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    transition: all 0.12s ease-in-out;
    opacity: 0.85;
    color: transparent;
    height: 7px;
    width: 7px;
}

.plot-dot span {
    position: absolute;
    top: -220%; /* Place it above the dot */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    white-space: nowrap;
    color: white;
    font-size: 8px;
    text-shadow: 2px 2px 3px black;
    opacity: 0;
    pointer-events: none; /* Prevent interaction with the text itself */
    transition: all 0.12s ease-in-out;  
}

.plot-dot:hover {
    opacity: 1.0;
    font-size: 11px !important;
    font-weight: 500;
    text-shadow: 2px 2px 3px black;
    color: white;
}

.plot-dot:hover span {
    font-size: 11px;
    font-weight: 500;
    opacity: 1;
}

.plot-dot:active {
    scale: 0.96;
}

.plot-dot:active span {
    font-size: 10.5px !important;
    scale: 0.96;
}

/* Plot info styling */
#plot-info {
    background-color: #161616; /* Dark background */
    color: #e9e9e9; /* Light text */
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c; /* Subtle shadow */
    z-index: 0;
/*     border: #333 solid 2px; */
}

#plot-title, #plot-description {
    margin: 5px 5px;
    overflow-wrap: break-word;
}

#plot-title {
    text-align: center;
    margin-bottom: 10px;
}

#info-image {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: #333 solid 2px;
    border-radius: 6px;
    cursor: pointer;
}

#plot-coords {
    color: #c8c8c8;
    font-size: 13.5px;
    text-align: center;
    margin-bottom: 5px;
}

/* Dropdown styling */
#sector-dropdown {
    font-family: 'Inter', sans-serif;
    padding: 10px;
    border-radius: 8px;
    background-color: #161616; /* Dark dropdown background */
    color: #e9e9e9; /* Light text */
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c;
    border: #777 solid 2px;
}

#aesthetic {
    height: 0px;
    margin-top: auto;
}

.slider-label {
    margin-top: 10px;
    font-size: 11px;
    margin-left: 2px;
    margin-bottom: -4px;
    color: #d8d8d8;
}

/* Slider container */
.slider-container {
    display: flex;
    position: relative;
    width: 100%;
    margin: 10px 5px 5px 5px;
    align-items: center;
}

/* Dark mode slider */
input[type="range"] {
    -webkit-appearance: none;
    margin-left: -3px;
    margin-right: 8px;
    width: 100%;
    height: 5px;
    background: #444;
    border-radius: 4px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: #999;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-thumb {
    width: 13px;
    height: 13px;
    background: #999;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#toggle-names {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    background-color: #161616; /* Dark background */
    color: #c8c8c8; /* Light text */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c; /* Subtle shadow */
    transition: all 0.18s ease;
    border: 2px solid rgb(39, 219, 87);
    transform: scale(0);
    opacity: 0;
    margin-top: 0px;
}

#toggle-names:hover {
    background-color: #121212;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #171717;
    border: #333 solid 2px !important;
    color: #d8d8d8;
}

#toggle-names:active {
    background-color: #111111;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #171717;
    font-size: 10px;
    color: #a9a9a9;
}

#toggle-name-scaling {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    background-color: #161616; /* Dark background */
    color: #c8c8c8; /* Light text */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c; /* Subtle shadow */
    transition: all 0.18s ease;
    border: 2px solid rgb(247, 67, 67);
    transform: scale(0);
    opacity: 0;
    margin-top: 0px;
}

#toggle-name-scaling:hover {
    background-color: #121212;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #171717;
    border: #333 solid 2px !important;
    color: #d8d8d8;
}

#toggle-name-scaling:active {
    background-color: #111111;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #171717;
    font-size: 10px;
    color: #a9a9a9;
}

#options-button {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    background-color: #161616; /* Dark background */
    color: #c8c8c8; /* Light text */
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c; /* Subtle shadow */
    transition: all 0.18s ease;
    border: #777 solid 2px; 
}

#options-button:hover {
    background-color: #121212;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #171717;
    border: #444 solid 2px;
    color: #d8d8d8;
}

#options-button:active {
    background-color: #111111;
    box-shadow: 8px 8px 16px #0d0d0d, -8px -8px 16px #171717;
    font-size: 10px;
    color: #a9a9a9;
}

/* Hidden class for elements that should not display */
.hidden {
    display: none;
}

/* Footer styling */
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #161616; /* Dark footer */
    color: #c8c8c8; /* Light text */
    box-shadow: 8px 8px 16px #101010, -8px -8px 16px #1c1c1c;
    flex-shrink: 0;
    text-align: center;
    font-size: 12px;
}

.footer-item {
    margin: 2px 0;
}

/* App and map container styling */
#app, #map {
    display: flex;
    flex: 1;
}

#map {
    justify-content: center;
    align-items: center;
    position: relative;
}

#high-res-image-container {
    position: absolute; /* Position it absolutely */
    top: 5%; /* Adjust this as necessary */
    left: 5vw;
    z-index: 10; /* Ensure it appears above other elements */
    padding: 10px; /* Add padding around the image */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    border-radius: 8px; /* Optional: rounded corners */
    display: inline-flex; /* Allow the container to shrink to fit the image */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    opacity: 0; /* Start as hidden */
    visibility: hidden; /* Initially hidden to prevent interaction */
    transition: opacity 0.22s ease, visibility 0s ease 0.22s; /* Fade in/out effect */
}

#high-res-image-container.show {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it visible for interaction */
    transition: opacity 0.22s ease, visibility 0s; /* Reset visibility transition */
}

.image-padding {
    /* Optional: Adjust min/max widths to allow for responsiveness */
    min-width: 30vw;
    max-width: 50vw; /* Limit width to 50% of the viewport */
    overflow: hidden; /* Hide overflow */
    align-items: center;
    display: flex;
    flex-direction: column;
}

#high-res-image {
    border-radius: 6px;
    height: auto; /* Allow height to adjust based on width */
    max-height: 100%; /* Prevent height from exceeding container */
    width: auto; /* Allow width to adjust based on height */
    max-width: 100%; /* Prevent width from exceeding container */
}

#close-image {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    background-color: #161616cc; /* Dark background */
    color: #c8c8c8; /* Light text */
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.18s ease;
    border: 2px solid #444;
    cursor: pointer;
    margin-top: 5px;
}

#close-image:hover {
    scale: 0.96;
    background-color: #141414dd;
    border: 2px solid #333;
}
